
/* Custom styles
--------------------------*/
#section2 {
	background-image: url('http://localhost:8888/wordpress/wp-content/uploads/2017/09/170809_gtulloch_069.jpeg');
}
/* BIO
--------------------------*/
.bio_section_0 {
	background-image: url('');

}