/*
 Theme Name:   UnderStrap Child
 Theme URI:    https://www.understrap.com
 Description:  UnderStrap Child Theme
 Author:       Holger Koenemann
 Author URI:   http://www.holgerkoenemann.de
 Template:     understrap
 Version:      0.3.5
 License: GNU General Public License v2 or later
 License URI: http://www.gnu.org/licenses/gpl-2.0.html
 Text Domain:  understrap-child
 Tags: one-column, custom-menu, featured-images, theme-options, translation-ready
 GitHub Theme URI: holger1411/understrap-child
*/
html, body {
   height: 100%;
	}

/* TRIPTIQUE
	* --------------------------------------- */
.boxes {
  display: table;
  width: 100%;
  height: 100%;
}
.box {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: 33%;
}

.grayscale
{
   	-webkit-filter: grayscale(1); 
	-moz-filter: grayscale(1);
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
	filter: gray; 
	filter: grayscale(1);
}
	.box1{
		background-color: rgba(190, 50, 50, 0.65);
   		background-blend-mode: multiply;
		-webkit-transition: .3s ease-in-out;
		transition: .3s ease-in-out;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: top center;
	}
	.box1:hover{
		background-color: rgba(190, 50, 50, 0);
		-webkit-filter: grayscale(0);
		filter: grayscale(0);
	}
	.box2{
		background-color: rgba(190, 50, 50, 0.65);
   		background-blend-mode: multiply;
		-webkit-transition: .3s ease-in-out;
		transition: .3s ease-in-out;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: top center;
	}
	.box2:hover{
		background-color: rgba(190, 50, 50, 0);
		-webkit-filter: grayscale(0);
		filter: grayscale(0);
	}
	.box3{
		background-color: rgba(190, 50, 50, 0.65);
   		background-blend-mode: multiply;
		-webkit-transition: .3s ease-in-out;
		transition: .3s ease-in-out;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: top center;

	}


	.box3:hover{
		background-color: rgba(190, 50, 50, 0);
		-webkit-filter: grayscale(0);
		filter: grayscale(0);
	}
	.box4{
		width: 50%;
	}
	.box5{
		width: 50%;
	}
/* TRIPTIQUE
	* --------------------------------------- */
	.container{
		 min-width: 100% !important;
	}
	.row {
	    height: 100%;
	}

/* Fixed header and footer.
	* --------------------------------------- */
	#header, #footer{
		position:fixed;
		height: 50px;
		display:block;
		width: 100%;
		background: #333;
		z-index:9;
		text-align:center;
		color: #f2f2f2;
		padding: 0px;
	}
	#header{
		top:0px;
	}
	#footer{
		bottom:0px;
	}
	.navbar-dark .navbar-nav .nav-link {
    color: #000!important;
	}
	
	.navbar-dark .navbar-brand {
	color: #cca36d !important;
	font-size: 1.5em !important;
	letter-spacing: 2px;
	font-family: "Times New Roman", Times, serif;
    font-weight: 100;
	}
	/*Adding background for the slides
	* --------------------------------------- */
	.slide{
		background-size: cover !important;
		text-align: center;
		background-position: center top !important;
	}
	/*#contact{
	background-image:url(../understrap-child/img/contact.jpg) ;
		padding: 0 0 0 0;
	}*/
	/*SLIDES*/
	
	 .titre{
		font-size: 3em;
        font-family: 'Raleway', sans-serif;
        font-weight: 300;
		color: #fff;
		margin:0;
		padding:0;
		letter-spacing: 8px;
	}
	.soustitre{
		font-size: 2em;
        font-family: 'Raleway', sans-serif;
        font-weight: 300;
		color: #fff;
		margin:0;
		padding:0;
		letter-spacing: 8px;
		text-align: center;		
	}
	.barre {
	vertical-align: middle;
	border-style: none;
	display: block;
	margin: auto;
	}
	#contact p {
	    margin-top: 0;
	    margin-bottom: 1rem;
	    color: white;
	}

	.contenu{
		height: 100%;
	}

	.valign {
	    display: flex;
	    align-items: center;
	}
	.clair{
		color: white !important;
	}
	.dark{
		color: #898989 !important;
	}
	.page-template-template-chef h1, .page-template-template-academia h1{
		font-size: 1.5em !important;
		font-family: 'Raleway', sans-serif;
        font-weight: 300;
        text-transform: uppercase;
		color: #fff;
		margin:0;
		padding:0;
		letter-spacing: 6px;
		text-align: center;
	}
	.page-template-template-chef h2, .page-template-template-academia h2{
		font-size: 1em !important;
		font-family: 'Raleway', sans-serif;
        font-weight: 300;
        text-transform: uppercase;
		color: #fff;
		margin:0;
		padding:0;
		letter-spacing: 2px;
		text-align: center;
	}
	.page-template-template-chef p, .page-template-template-academia p{
		font-size: 1em !important;
		font-family: "Times New Roman", Times, serif;
        font-weight: 100;
		color: #898989;
		text-align: center;
	}
	.bio{
		padding: 5% 15%;
	}

	.myhr{
		width: 40px;
		height: 20px;
		border-bottom: 1px solid grey;
		padding-top: 10px;
	}
	.myhr-vert{
		width: 1px;
		height: 50px;
		border-left: 1px solid grey;
		margin-bottom: 30px;
	}
/*flex*/

.flexbox-container {
    display: flex; /* establish flex container */
    flex-direction: row; /* make main axis horizontal (default value) */
    justify-content: center; /* center items horizontally, in this case */
    align-items: center; /* center items vertically, in this case */
    height: 100%; /* for demo purposes */
    background-color: #eee; /* for demo purposes */
}

.pressimg{
margin:0 auto;

}
@media(min-width: 766px) {
  .flex {
    display: flex;
    align-items: center;
  }
}
#section2{
	background-position: top center;
	background-size:cover !important;
	background-repeat: no-repeat;
}

/*TEMPLATE CHEF*/
.bio_section_0 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media(max-width: 768px) {
  #yellow {
height: 400px;
  }
}
